@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('AvenirNextCyr-UltraLightIt.eot');
    src: url('AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLightIt.woff') format('woff'),
        url('AvenirNextCyr-UltraLightIt.svg#AvenirNextCyr-UltraLightIt') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Medium.eot');
    src: url('AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Medium.woff2') format('woff2'),
        url('AvenirNextCyr-Medium.woff') format('woff'),
        url('AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Regular.eot');
    src: url('AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Regular.woff2') format('woff2'),
        url('AvenirNextCyr-Regular.woff') format('woff'),
        url('AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-LightItalic.eot');
    src: url('AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-LightItalic.woff2') format('woff2'),
        url('AvenirNextCyr-LightItalic.woff') format('woff'),
        url('AvenirNextCyr-LightItalic.svg#AvenirNextCyr-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('AvenirNextCyr-UltraLight.eot');
    src: url('AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLight.woff') format('woff'),
        url('AvenirNextCyr-UltraLight.svg#AvenirNextCyr-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Light.eot');
    src: url('AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Light.woff2') format('woff2'),
        url('AvenirNextCyr-Light.woff') format('woff'),
        url('AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Heavy.eot');
    src: url('AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('AvenirNextCyr-Heavy.woff') format('woff'),
        url('AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Demi.eot');
    src: url('AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Demi.woff2') format('woff2'),
        url('AvenirNextCyr-Demi.woff') format('woff'),
        url('AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Bold.eot');
    src: url('AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Bold.woff2') format('woff2'),
        url('AvenirNextCyr-Bold.woff') format('woff'),
        url('AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-DemiItalic.eot');
    src: url('AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('AvenirNextCyr-DemiItalic.woff') format('woff'),
        url('AvenirNextCyr-DemiItalic.svg#AvenirNextCyr-DemiItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-HeavyItalic.eot');
    src: url('AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('AvenirNextCyr-HeavyItalic.woff') format('woff'),
        url('AvenirNextCyr-HeavyItalic.svg#AvenirNextCyr-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Italic.eot');
    src: url('AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Italic.woff2') format('woff2'),
        url('AvenirNextCyr-Italic.woff') format('woff'),
        url('AvenirNextCyr-Italic.svg#AvenirNextCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-BoldItalic.eot');
    src: url('AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCyr-BoldItalic.woff') format('woff'),
        url('AvenirNextCyr-BoldItalic.svg#AvenirNextCyr-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-ThinItalic.eot');
    src: url('AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-ThinItalic.woff2') format('woff2'),
        url('AvenirNextCyr-ThinItalic.woff') format('woff'),
        url('AvenirNextCyr-ThinItalic.svg#AvenirNextCyr-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-MediumItalic.eot');
    src: url('AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCyr-MediumItalic.woff') format('woff'),
        url('AvenirNextCyr-MediumItalic.svg#AvenirNextCyr-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Thin.eot');
    src: url('AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Thin.woff2') format('woff2'),
        url('AvenirNextCyr-Thin.woff') format('woff'),
        url('AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

