@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "rwd";

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next Cyr';
}

h1 {
  font-weight: 500;
  font-style: normal;
  color: #fff;
  line-height: 98px;
  font-size: 72px;

  @media (min-width: $xs-min-width) {
    font-size: 27px;
    line-height: 33px;
    margin-top: 50px;
  }

  @media (min-width: $sm-min-width) {
    font-size: 40px;
    line-height: 55px;
    margin-top: 0;
  }

  @media (min-width: $lg-min-width) {
    line-height: 98px;
    font-size: 72px;
  }
}

h2 {
  font-size: 33px;
  font-weight: 500;
  font-style: normal;
  color: #050505;
  line-height: 30px;

  @media (min-width: $xs-min-width) {

  }

  @media (min-width: $sm-min-width) {
    font-size: 26px;
    line-height: 30px;
  }

  @media (min-width: $lg-min-width) {
    line-height: 30px;
    font-size: 33px;
  }
}

.date-info {
    padding-left: 16px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.017em;
    font-weight: 400;
    position: relative;

    color: #3FA103;

    &:before {
      content: '';
      position: absolute;
      left:0;
      top:0;
      bottom: 0;
      margin: auto;
      background: url('../img/icon-calendar.svg');
      width: 10px;
      height: 10px;
    }
}

.chat-video {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 88px;
  box-sizing: border-box;

  @media (min-width: $xs-min-width) {
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }

  @media (min-width: $sm-min-width) {
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }

  @media (min-width: $md-min-width) {
  }

  @media (min-width: $lg-min-width) {
    flex-direction: row;
    padding-top: 88px;
  }
}

.br-xs {
  @media (min-width: $xs-min-width) {
    display: block;
  }

  @media (min-width: $sm-min-width) {
    display: none;
  }
}

.br-sm {
  display: none;

  @media (min-width: $sm-min-width) {
    display: block;
  }

  @media (min-width: $lg-min-width) {
    display: none;
  }
}

.br-lg {
  display: none;

  @media (min-width: $lg-min-width) {
    display: block;
  }
}

@import "components/header";
@import "components/practics";
@import "components/roadmap";
@import "components/inspiration";
@import "components/notes";
@import "components/activity";
@import "components/chat";
@import "components/video";
@import "components/footer";
